<h2>Volunteer:</h2>
<h4><%= @volunteer.name %></h4>
<h3>Project:</h3>
<h4><%= @volunteer.project.title %></h4>

<form action="/projects/<%= @volunteer.project.id %>/volunteers/<%= @volunteer.id %>" method="post">
  <input name="_method" type="hidden" value="patch">

  <label for="name">Rename volunteer</label>
  <input id="name" name="volunteer_name" type="text">

  <button type="submit">Update Volunteer</button>
</form>

<form action="/projects/<%= @volunteer.project.id %>/volunteers/<%= @volunteer.id %>" method="post">
  <input name="_method" type="hidden" value="delete">

  <button type="submit">Delete volunteer</button>
</form>

<a href="/projects/<%= @volunteer.project.id %>">Back to <%= @volunteer.project.title %></a>